@import url(reset.css);
@import url(main-page.css);
@import url(login.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  font-family: "Open Sans", sans-serif;
  color: var(--swift-black);

  --swift-orange: #E55125;
  --swift-white: #fff;
  --swift-black: #231F20;
  --swift-gray: #797979;
  --swift-darkgray: #383838;
  --swift-lightgray: #F2F2F2;
}